<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- hibernate dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>


        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
        <property name="hibernate.connection.username">DatVeXeKhach</property>
        <property name="hibernate.connection.password">Minh11520232</property>
        <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
      
        <property name="show_sql">true</property>
        
    	
    	<mapping resource="model/nhanvien.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
