.page-template-interior-php section.page-main #noiDungtt {
font-family: times, "Times New Roman", Georgia, Serif;
font-size: 1.6em;
margin-bottom: 20px;
position: relative;
}

.o_list li{
	padding-bottom:5px;
}

.style_none li{
	list-style: none;
}

.datalist-noborder .ui-widget-content {
border: none;

}

